<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new user</title>
    <link rel="stylesheet" href="/css/update.css" />
  </head>
  <body>
    <h1>Create new user</h1>

    <a href="/">go back</a>
    <form action="/api/expenses/" method="post" enctype="multipart/form-data">
      <input
        type="number"
        name="expense"
        placeholder="expense"
        required
        class="textinp"
      />
      <input type="file" name="avatar" accept="image/*" required class="h22" />
      <button>Submit</button>
    </form>
  </body>
</html>
